<script>
var GAME_ID = <%= @game.id %>;
</script>

<div id="wrapper">

	<table id="round0" class="gameboard" style="position: relative;">		
		<tbody>
			<tr>
				<td class="title0 zoomTarget"><%= @game.rounds[0].categories[0].name %></td>
				<td class="title1 zoomTarget"><%= @game.rounds[0].categories[1].name %></td>
				<td class="title2 zoomTarget"><%= @game.rounds[0].categories[2].name %></td>
				<td class="title3 zoomTarget"><%= @game.rounds[0].categories[3].name %></td>
				<td class="title4 zoomTarget"><%= @game.rounds[0].categories[4].name %></td>
				<td class="title5 zoomTarget"><%= @game.rounds[0].categories[5].name %></td>
			</tr>
		<% 5.times do |iter| %>
			<tr class="question<%= iter %>">
				<td class="category0"><a onclick="selectQuestion(0,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
				<td class="category1"><a onclick="selectQuestion(1,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
				<td class="category2"><a onclick="selectQuestion(2,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
				<td class="category3"><a onclick="selectQuestion(3,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
				<td class="category4"><a onclick="selectQuestion(4,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
				<td class="category5"><a onclick="selectQuestion(5,<%= iter %>);"><%= "$#{(iter*200)+200}" %></a></td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<table id="round1" class="gameboard" style="position: relative; display: none;"><!-- Initially Hidden -->
		<tr>
			<td><%= @game.rounds[0].categories[0].name %></td>
			<td><%= @game.rounds[0].categories[1].name %></td>
			<td><%= @game.rounds[0].categories[2].name %></td>
			<td><%= @game.rounds[0].categories[3].name %></td>
			<td><%= @game.rounds[0].categories[4].name %></td>
			<td><%= @game.rounds[0].categories[5].name %></td>
		</tr>
		<tr>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
		</tr>
	</table>
	
	<div id="question" onclick="showBoard();" style="display: none;">
		<div class="question center absolute-center">
			<span id="prompt" class="" onclick="showAnswer();"></span>
			<br />
			<span id="response" class="" style="display: none;" onclick="showBoard();"></span>
		</div>
	</div>

</div>