<style>
html, body
{
	height: 100%;
	margin: 0px;
}
#wrapper
{
	height: 100%;
}
table
{
	width:100%;
	height:100%;
}
td
{
	color: #dddddd;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:blue;
	width: 16.66%;
}
.question.center
{
	margin: auto;
	position: absolute;
	top: 50%;
	vertical-align: middle;
	
	color: white;
	font-size: 20pt;
	text-align: center;
	width: 100%;
}
</style>
<script>
var GAME_ID = <%= @game.id %>;
</script>

<div id="wrapper">

	<table id="round0">		
		<tbody>
			<tr>
				<td><%= @game.rounds[0].categories[0].name %></td>
				<td><%= @game.rounds[0].categories[1].name %></td>
				<td><%= @game.rounds[0].categories[2].name %></td>
				<td><%= @game.rounds[0].categories[3].name %></td>
				<td><%= @game.rounds[0].categories[4].name %></td>
				<td><%= @game.rounds[0].categories[5].name %></td>
			</tr>
		<% 5.times do |iter| %>
			<tr class="question<%= iter %>">
				<td class="category0"><a href="#" onclick="selectQuestion(0,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
				<td class="category1"><a href="#" onclick="selectQuestion(1,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
				<td class="category2"><a href="#" onclick="selectQuestion(2,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
				<td class="category3"><a href="#" onclick="selectQuestion(3,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
				<td class="category4"><a href="#" onclick="selectQuestion(4,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
				<td class="category5"><a href="#" onclick="selectQuestion(5,<%= iter %>);"><%= "$#{(iter*200)+200}" %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<table id="round1" style="display: none;"><!-- Initially Hidden -->
		<tr>
			<td><%= @game.rounds[0].categories[0].name %></td>
			<td><%= @game.rounds[0].categories[1].name %></td>
			<td><%= @game.rounds[0].categories[2].name %></td>
			<td><%= @game.rounds[0].categories[3].name %></td>
			<td><%= @game.rounds[0].categories[4].name %></td>
			<td><%= @game.rounds[0].categories[5].name %></td>
		</tr>
		<tr>
			<td><%= link_to "$200", :controller => "board", :action => "prompt", :id => @game.id, :round => "0", :category => "0", :amount => "0" %></td>
			<td><%= link_to (@round==0)?"$200":"$400", :controller => "board", :action => "prompt", :id => @game.id, :round => "0", :category => "1", :amount => "0" %></td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
			<td>$200</td>
		</tr>
	</table>
	
	<div id="question" onclick="showBoard();" style="display: none;">
		<div class="question center">
			<span id="prompt" class="" onclick="showAnswer();"></span>
			<br />
			<span id="response" class="" style="display: none;" onclick="showBoard();"></span>
		</div>
	</div>
</div>